{% extends 'template.html.twig' %}

{% block title %}
Tableau de notes
{% endblock %}

{% block mainTitle %}
Tableau de statistiques des notes
{% endblock %}
    
{% block body %}
<table class="table table-striped">
{% for value in notes %}
    <tr>
        <td>{{ value }}</td>
    </tr>
{% endfor %}
</table>
<div class="alert alert-info">
    <p>Taille du tableau : {{ notes|length }}</p>
    <p>Note minimale : {{ min(notes) }}</p>
    <p>Note maximale : {{ max(notes) }}</p>
    <p>{{ testString | easyStringCut }}</p>
</div>
{% endblock %}